header{

    .spectailor-btn{
        float:right;
    }
}
.sticky-header{
    position: sticky;
    position: -webkit-sticky;
    top: 35px; /* required */
    z-index: 9;
    @include xs{
        position: static;
    }
}