header{
    padding-top: 15px;
    padding-bottom: 15px;
    .spectailor-btn{
        float:right;
    }
}
.sticky-header{
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 9999;
    @include xs{
        position: static;
    }
}