// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "basics/media";
@import "basics/devices";
@import "basics/colors";
@import "basics/basicMixins";
@import "basics/fonts";
@import "basics/helpers";
@import "basics/shapes";
@import 'header';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: arboriaBold;
    src: url('../fonts/Arboria-Bold.otf');
}
@font-face {
    font-family: arboriaLight;
    src: url('../fonts/Arboria-Light.otf');
}
@font-face {
    font-family: arboriaBook;
    src: url('../fonts/Arboria-Book.otf');
}
@font-face {
    font-family: arboriaMedium;
    src: url('../fonts/Arboria-Medium.otf');
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: arboriaBook;
    background: #fff;
    color: black;
}

.max-container{
    width: 1374px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.logo-container{
    &:hover{
        a{
            text-decoration: none;
        }
        .logo-blanket{
            opacity: 1;
        }
    }
    .logo-blanket{
        width: 123px;
        margin-left: 10px;
        opacity: 0;
        @include transition(all, 0.3s);
        @include xs{
            display: none;
        }
    }
}
.spectailor-logo{
    height: 40px;
}
.main-container{
    width: 1174px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

#fullpage{
    margin-top: -78px;
}

section.section{
    height: 100vh;
    min-height: 800px;
    @include xs{
        height: auto;
        padding-bottom: 30px;
        padding-top: 50px;
        min-height: 400px;
    }
    .section-img{
        @include xs{
            margin-bottom: 60px;
        }
    }
    position: relative;
}
section.section.section-intro{
    .main-container{
        height: calc(100vh - 78px);
    }
    @include xs{
        .main-container{
            height: auto;
        }

    }
}
section.section-content{
    background-color: #FCF9F9;
}
section.section-footer{
    background-color: #fff;
}
section.section-intro{
    .max-container{
        //height: (100vh - 48px);
    }

}
.link-black{
    color: black !important;
    &:hover{
        color: black !important;
        text-decoration: none;
    }
}
@media only screen and (max-width: 1374px) {
    .max-container{
        width: 100%;
    }
}

@media only screen and (max-width: 1174px) {
    .main-container{
        width: 100%;
    }
}

.spectailor-btn{
    @include transition(all, 0.3s);
    color: black;
    border: 2px solid black;
    background-color: white;
    outline: 0;
    box-shadow: none;
    height: 48px;
    line-height: 44px;
    font-family: arboriaBold;
    font-size: 12px;
    width: 156px;
    text-align: center;
    letter-spacing: 3px;
    &:hover{
        color: white;
        background-color: black;
        text-decoration: none;
    }
    &:active{
        border-color: black;
        outline: 0;
        box-shadow: none;
    }
    &:focus{
        border-color: black;
        outline: 0;
        box-shadow: none;
    }
    &.dark-btn{
        color: white;
        background: black;
        &:hover{
            color: black;
            background-color: #fee600;
            border-color: #fee600;
        }
    }
    &#get-in-touch-btn{
        background-color: transparent;
        &:hover{
            background-color: black;
        }
    }
    &.form-success{
        background: #39b549;
        color: white;
        border-color: #39b549;
    }
    &.form-wait{
        background: #fee600;
        color: black;
        border-color: #fee600;
    }
    /*&.hand-logo{
        &:hover{
            background-image: url('../img/hand-blackk.svg');
        }
        background-image: url('../img/hand.svg');
        background-repeat: no-repeat;
        background-position: left 20px center;
        background-size: 20px;
        padding-left: 20px;
    }*/
}
.tabbable{
    background: #FCF9F9;
    margin-top: 30px;

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: black;
    font-family: arboriaBold;
    font-size: 16px;
    background: transparent;
    border-top: 4px solid black;
    border-radius: 0;
    padding-top: 10px;
}
.pill-container{
    overflow-x: scroll;
    width: 100vw;
}::-webkit-scrollbar {
     display: none;
 }
.nav-pills{
     display: inline-box;
    display: -webkit-inline-box;
    background: #FCF9F9;
    width: 120vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 9999;
}
.nav-pills .nav-link{
    color: black;
    margin-right: 25px;
    padding-top: 10px;
    border-top: 4px solid transparent;
    font-family: arboriaBook;
    font-size: 16px;
    background: transparent;
    width: 80px;
}


.opening{
    padding-top: 10%;
    @include xs{
        margin-top: 2px;
    }
    span.hero-light{
        font-size: 36px;
        line-height: 40px;
        font-family: arboriaLight;
        display: block;
        @include xs{
            margin-top: 32px;
        }
    }
    h1{
        font-size: 36px;
        line-height: 40px;
        font-family: arboriaBold;
        display: inline-block;
        background: linear-gradient(to bottom, white 50%, rgba(#FFFABC, 1) 50%);

    }
    p{
        font-size: 18px;
        line-height: 28px;
        margin: 35px 0;
        @include xs{
            margin-top: 15px;
        }
    }
}
.spectailor-link{
    color: black;
    display: inline-block;
    background: linear-gradient(to bottom, white 50%, rgba(#FFFABC, 1) 50%);
    line-height: 16px;
    font-family: arboriaMedium;
    @include transition(all, 0.3s);
    &:hover{
        text-decoration: none;
        color: black;
    }
    &.small-link{
        font-size: 14px;
        line-height: 15px;
        font-family: arboriaMedium;

    }
}
.scroll-down{
    font-size: 14px;
    display: block;
    background-image: url('../img/mouse-icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    line-height: 30px;
}

.thinkerfox{
    font-size: 12px;
    line-height: 11px;
    display: block;
    background-image: url('../img/thinkerfox.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 100px;
    text-align: right;
    height: 24px;
}

.opening-end{
    position: absolute;
    bottom: 38px;
    left: 0 ;
    right: 0;
    &.static-end{
        position: static;
        margin-top: 80px;
    }
}

.content{
    h2{
        font-family: arboriaBold;
        font-size: 36px;
    }
    h3{
        font-family: arboriaBook;
        font-size: 36px;
        margin-top: 36px;
        margin-bottom: 72px;
        @include xs{
            margin-bottom: 42px;
            font-size: 32px;
        }
    }
    h4{
        font-family: arboriaBold;
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    p{
        font-size: 16px;
        @include xs{
            margin-bottom: 0;
        }
    }
}

.contact-sub{
    margin-bottom: 65px;
    font-size: 18px !important;
    @include xs{
        margin-bottom: 50px !important;
    }
}

.contact-point{
    margin-bottom: 75px;
    h4{
        font-size: 16px;
        margin-top: 0;
        line-height: 25px;
        font-family: arboriaBold;
        margin-bottom: 10px;
    }
    address{
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px;
    }
}

.form-set{
    margin-bottom: 50px;
    label{
        font-size: 16px;
        font-family: arboriaMedium;
        display: block;
        margin-bottom: 0;
    }
    #myTextArea {
        min-height: 63px;
        overflow-y: hidden;
        @include transition(all, 0.3s);
        resize: none;
    }
    input, textarea{
        background: none;
        font-size: 24px;
        border: none;
        box-shadow: none;
        outline: 0;
        width: 100%;
        border-bottom: 1px solid black;
        padding: 12px 0;
    }::-webkit-input-placeholder { /* Edge */
         color: rgba(black, 0.25);
     }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(black, 0.25);
    }

    ::placeholder {
        color: rgba(black, 0.25);
    }
}
.section-footer{
    position:relative;
    height: 100%;
}
#section-intro{
    .fp-tableCell {
        vertical-align: middle;
    }
}
footer{
    margin-top: 100px;
    &.static-footer-end{
        position: static;
        margin-top: 80px;
    }
    @include xs{
        position: static;
        margin-top: 40px;
    }
    background-color: #fff;
    padding-bottom: 40px;
    p.copyright{
        margin-top: 0px;
        line-height: 45px;
        font-size: 12px;
        margin-bottom: 0;
        @include xs{
            text-align: center;
        }
    }
    .footer-logo{
        text-align: center;
    }
    ul{
        text-align:right;
        @include xs{
            text-align: center;
        }

        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        margin-top: 5px;
        li{
            display: inline-block;
            list-style-type: none;
            margin-left: 23px;
            @include xs{
                margin-right:30px;
                margin-left: 30px;
            }
            a{
                width: 20px;
                height: 20px;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
            }
        }
        #icon-instagram{
            background-image: url('../img/instagram.svg');
        }
        #icon-linkedin{
            background-image: url('../img/linkedin.svg');
        }
        #icon-dribble{
            background-image: url('../img/dribble.svg');
        }
        #icon-medium{
            background-image: url('../img/medium.svg');
        }
    }
}
