.banner-text-muted {
    max-width: 470px !important;
}

p.description {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.8;
}

.para-desc-large {
    max-width: 800px;
}

.radius-10 {
    border-radius: 10px !important;
}

.bg-half-55 {
    padding: 55px 0;
    background-size: cover;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    background-position: center center;
}

.section-mt {
    margin: 50px 0;
}

.pb-150 {
    padding-bottom: 150px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-50 {
    padding-bottom: 50px;
}

.bg-peanut-green {
    background-color: #cdf465;
}

.btn-free {
    background-color: #f8f9fc !important;
    border: 1px solid #f8f9fc !important;
    color: #000000 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
            box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
}
  
.btn-free:hover {
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: #ffffff !important;
}

.btn-cta {
    font-weight: 500;
    background-color: #cdf465;
    border: 2px solid #cdf465;
}

.btn-cta:hover {
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
}

.counter-head {
    font-weight: 400;
}